// =========================================
// make scroll bar invisible, but still working
// =========================================
@mixin invisibleScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
    width: 0;
    height: 0;
  }
  -ms-overflow-style: none; // EDGE
}

// =========================================
// custom scrollbar
// =========================================
@mixin customScrollbar(
  $thumbColor: #009c0cd7,
  $width: 10px,
  $scrollbarBg: transparent,
  $firefoxScrollbarBg: transparent
) {
  // Styles for Firefox not a lot of options we are able to set for custom scrollbars
  // scrollbar-width: thin; // none | thin | auto
  scrollbar-color: $thumbColor $firefoxScrollbarBg;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track-piece {
    width: $width;
    background: $scrollbarBg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 10px;

    &:hover {
      background: darken($thumbColor, 10%);
    }

    &:active {
      background-color: darken($thumbColor, 20%);
    }
  }

  // &::-webkit-scrollbar-corner {
  //   background: #000;
  // }
}

.custom-debug {
  position: fixed;
  max-height: 100%;
  background-color: rgba(#ddd, 0.9);
  z-index: 999;
  font-size: 12px;
  max-width: 400px;
  overflow: auto;
  @include customScrollbar;

  &:before {
    content: '🕹';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }

  .row {
    display: flex;
  }

  .text-bold {
    font-weight: bold;
  }

  .compoenent-name,
  .render-count {
    color: #000;
  }

  .button {
    display: block;
    flex-grow: 1;
    padding: 5px 0;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  &--is-minimized {
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }

  &--is-scrollbar-hidden {
    @include invisibleScrollbar;
  }

  &--is-strings-collapsed {
    .variable-row {
      display: flex;

      .click-to-edit-icon,
      .click-to-remove-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // position
  &--top-right {
    top: 0;
    right: 0;
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
  }

  &--top-left {
    top: 0;
    left: 0;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
  }
}
